<div class="container">
  <h2 class="survey-title">
    <%= @attempt.survey.name %>
    <p><small><%= @attempt.survey.description %></small></p>
  </h2>
  <ol class="questions">
    <% @attempt.survey.questions.each do |question| %>
      <li class="question-wrapper">
        <p class="question"> <%= question.text %> </p>
        <ul class="options list-unstyled">
          <% question.options.each do |option| %>
            <li class="radio">
              <label>
                <%= check_box_tag '', '', the_chosen_one?(@attempt, option), disabled: true %>
                <% color = get_color_of_option(@attempt, option) %>
                <span class="<%= color %> <%= the_chosen_one?(@attempt, option) %>"> <%= option.text %> <%= get_weight(option) %> </span>
              </label>
              <p class="answers-number"> <%= number_of_people_who_also_answered(option.id) %> </p>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  <ol>
</div>
